:root {
  --primary-color: #808588;
  --main-color: #1c2951;
  --dark-color: #7e3b8a;
  --max-width: 1100px;
}

.category {
  --para-color: #9cd326;
  --enviro-color: #ffadad;
  --supply-color: #66ccff;
}

body {
  font-family: 'Lato', sans-serif;
  line-height: 1.5;
  background: var(--main-color);
  margin: 50px;
}

a {
  color: #36353c;
  text-decoration: none;
}

p {
  margin: 8px 0;
}

img {
  width: 100%;
}

h1 {
  font-family: 'Staatliches', cursive;
  margin-bottom: 8px;
  line-height: 1.3;
  color: deepskyblue;
  font-size: 80px;
  text-shadow: 0 0 3px, 0 0 6px;
  margin-top: 30px;
  text-align: center;
}

h2 {
    font-family: 'Staatliches', cursive;
    margin-bottom: 11px;
    line-height: 1.3;
    color: aliceblue;
    text-decoration: underline;
    text-underline-position:under;
    margin-bottom: 30px;
}

h3 {
  font-family: 'Staatliches', cursive;
  margin-bottom: 9px;
  line-height: 1.3;
}


h4 {
  font-family: 'Staatliches', cursive;
  color: coral;
  margin-bottom: 9px;
  line-height: 1.3;
  font-size: 16px;
}

.container {
  max-width: var(--max-width);
  margin: auto;
  padding: 3.5px;
  overflow: hidden;
}

.category {
  display: inline-block;
  color: whitesmoke;
  font-size: 9px;
  text-transform: uppercase;
  padding: 9px 9px;
  border-radius: 20px;
  margin-bottom: 9px;
}

.category-enviro { background: var(--enviro-color) }
.category-para { background: var(--para-color) }
.category-supply { background: var(--supply-color) }

.card {
  background:rgb(240,240,240);
  padding: 16px;
  border-radius: 10px;
}

.bg-dark {
  background: var(--dark-color);
  color: whitesmoke;
}

.bg-primary {
  background: var(--primary-color);
  color: whitesmoke;
}

.bg-dark a,
.bg-primary a {
  color: whitesmoke;
}

.div1 {
        border: 1px solid;
        width: 300px;
        height: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
      }

#home-spacex .spacex-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 16px;
}

#home-spacex .spacex-container > *:first-child,
#home-spacex .spacex-container > *:last-child {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 16px;
  align-items: center;
  grid-column: 1 / span 2;
}

#home-spacex .spacex-container > *:last-child {
  grid-column: 2 / span 2;
}

#acceleration 
{
  display: inline-block;
  background-color: gold;
  font-size: 10px;
  text-transform: uppercase;
  padding: 6.5px 8px;
  margin-left: 11.5px;
  margin-bottom: 6.5px;
}

#supply
{
  display: inline-block;
  background-color: gold;
  font-size: 10px;
  text-transform: uppercase;
  padding: 6.5px 8px;
  margin-bottom: 6.5px;
}